<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe-DnRJr-Dmh1yhZ6HKa-yf8FF5pDj4pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1092690558609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidebelvisi.radioEvangeloTorino</string>
	<key>PROJECT_ID</key>
	<string>radio-evangelo-torino</string>
	<key>STORAGE_BUCKET</key>
	<string>radio-evangelo-torino.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092690558609:ios:2ef0a015c7334b27be0930</string>
	<key>DATABASE_URL</key>
	<string>https://radio-evangelo-torino-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>